*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.navbar{
  height: 70px;
  width: 100%;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.navbar>img{
  margin: 22px 0px 0px 30px;
}

.main-content-img{
  display: flex;
  justify-content: center;
  padding: 22px 0px 32px 0px;
}

.main-content-text{
  display: flex;
  flex-direction: column;
}

.main-content-text >h1{
  color: #000;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 110%; /* 39.6px */
margin: 0px 0px 0px 36px;
}

.main-content-text > p{
  color: #222;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 110%; /* 17.6px */
margin-left: 36px;
}

section{
  padding: 36px;
}

.card-main-image{
  width: 176px;
height: 235px;
flex-shrink: 0;
}

.star-img{
  width: 14px;
height: 14px;
flex-shrink: 0;
align-self: center;
padding-right: 2px;
}

.card-base{
  display: flex;
  flex-direction: column;
}

.rating{
  display: flex;
  align-items: flex-start;
}

.card-details{
  color: #222;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: 110%; /* 13.2px */
margin: 0px;
padding-bottom: 8px;
}
